body {
    padding: 100px;
}

.submit-area  {
    
    margin-top: 50px;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 5px 5px 10px gray;
}
#transaction-area {
    display : none;
}
.deposit {
    background-color: rgb(129, 114, 218);
}
.withdraw { 
    background-color:rgb(83, 94, 151);
}
.balance {
    background-color: aqua;
}